---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Movilidad urbana y productividad económica en ciudades de ",
    desc: [
      "Realice una limpieza y cambio de formato a los datos necesarios para realizar un análisis",
      "Compare datos de diferentes fuentes para encontrar patrones en los datos",
      "Cree un informe ejecutivo con los hallazgos acompañado de gráficas",
    ],
    tech: ["Python", "Jupiter Notebook"]
  },
  {
    title: "Análisis del desempeño financiero ",
    desc: [
      "Extraje y limpié datos utilizando SQL",
      "Realice cálculos para obtener KPIs",
      "Designed to handle a high volume of ~5 million data points per day",
      "Cree un informe ejecutivo mostrando una comparación entre el margen de ganancia y el ROI",
    ],
    tech: ["SQL", "Excel"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Analisis de Datos" />
  <body>
    <div class="content">
        <Sidebar selectedItem="devops" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Analisis de Datos</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
