---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "MMovilidad urbana y productividad económica en ciudades de LATAM",
    desc: [
      "Se utilizaron 2 datasets para este análisis, uno con el PIB por ciudad y año y otro con reportes de atrasos de trafico por ciudad. Los datos analizados fueron del año 2024 de un total de 15 ciudades.",
      "Se realizo el cambio de tipo de datos de múltiples columnas de ambos data sets con el fin de facilitar el manejo de los datos. Se utilizo las ciudades y el año como base combinar los dos data sets. Se crearon 3 graficas diferentes(boxplot, histograma y grafico de barras comparativo) para realizar el análisis y una validación visual.",
      "El análisis mostró ciudades que a pesar de tener un alto indice de atrasos por trafico mantiene un PIB alto.",
      "Se recomienda invertir en infraestructura para transporte en ciudades como Bogotá, la ciudad de México y Sao Paulo ya que muestran un alto PIB a pesar de tener un gran numero de retrasos por trafico.",
    ],
    tech: ["Python", "Jupiter Notebook"],
    img:"/assets/movilidad_1.PNG"
  },
  {
    title: "Análisis del desempeño financiero ",
    desc: [
      "Se realizo un análisis con el fin de obtener cuanto se esta ganando por país y que tan rentable es cada mercado considerando los gastos de marketing.",
      "Se utilizo SQL para relacionar los esquemas, obtener los datos y calcular tantos los beneficios como el ROI.",
      "Los resultados mostraron a Estados Unidos como el país con mas beneficio bruto seguido de Australia; Aunque cabe resaltar que Canadá a pesar de tener el menor beneficio cuenta con el mayor margen de ganancia.",
    ],
    tech: ["SQL", "Excel"],
    img:"/assets/financiero.PNG"
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Analisis de Datos" />
  <body>
    <div class="content">
        <Sidebar selectedItem="devops" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Analisis de Datos</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                      <img src={project.img} loading="lazy" />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
