---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Héctor Carrasco" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Hola soy Héctor</h1>
              <p class="lead">
                Desarrollador Back-End con solidas habilidades de Java, SQL y resolución de problemas con mas de tres años de experiencia trabajando en aplicaciones web enfocadas en las necesidades el cliente. Durante mi carrera he tenido la oportunidad de utilizar múltiples frameworks y lenguajes como C# y Flutter y me encantaría poder continuar aprendiendo nuevos lenguajes, frameworks y tecnologías. Actualmente me estoy formando como Analista de Datos aprendiendo Python y Pandas.
              </p>
            </div>
            
          </main>
          <div class="projects-section">
            
            <!-- Analisis de datos -->
            <a href="/devops" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img src="./assets/da-icon.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Analisis de Datos</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Tecnologias y Herramientas</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Python</div>
                    <div class="single-chip small-chip">Pandas</div>
                    <div class="single-chip small-chip">SQL</div>
                    <div class="single-chip small-chip">Excel</div>
                    <div class="single-chip small-chip">Jupiter Notebook</div>
                  </div>
                </div>
              </div>
            </a>
            <!-- Software Development -->
            <a href="/software-development" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img src="./assets/browser.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Desarrollo de Software</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Tecnologias y Herramientas</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Java</div>
                    <div class="single-chip small-chip">Spring</div>
                    <div class="single-chip small-chip">SQL</div>
                    <div class="single-chip small-chip">Postman</div>
                    <div class="single-chip small-chip">C#</div>
                    <div class="single-chip small-chip">Git</div>
                    <div class="single-chip small-chip">Unix Shell</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>