---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';

---

<!DOCTYPE html>
<html
>
  <Header title="Contacto" />
  <body>
    <div class="content">
        <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Contacto</h1>
            <a class="lead"
            href="mailto:hector.antonio@hotmail.com"
            >
              <img
              src="/assets/email-icon.svg"
              loading="eager"
              alt=""
              class="nav-link-image"
              />
              Email
            </a>
            <a class="lead"
            href="https://www.linkedin.com/in/hector-a-carrasco/"
            >
              <img
              src="/assets/linkedin-icon.svg"
              loading="eager"
              alt=""
              class="nav-link-image"
              />
              Linkedin
            </a>
            <a class="lead"
            href="https://github.com/Hector-ACO"
            >
              <img
              src="/assets/github-icon.svg"
              loading="eager"
              alt=""
              class="nav-link-image"
              />
             Github
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
